body {
    font-family: Georgia,
    'Sans-Serif';
    background-color: #96B0B6;
    margin: 0;
    padding: 0;
}

.h1 {
    color: #3C3C3C;
    margin-left: 4%;
}

.h2 {
    text-align: center;
}

.uname {
    width:100%;
}

.psw {
    width:100%;
}

.login {
  text-align: center;
    border: 3px black solid;
    padding: 9px;
    display: block;
}

.usrtype {
    width:100%;
}
